<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Buttons</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <h1 class="box">My Blockchain</h1>
    <div class="buttoncontain">
        <button class="button"><span>Mine Block</span></button>
        <button class="button"><span>Get Chain</span></button>
        <button class="button"><span>Add Transaction</span></button>  
    </div>
    
    
    
    

</body>
</html>